/*CSS FILE - styles specific to the Possible Rolls section and its related pages
Written by Wyatt Dove*/

/*Text for rolls entry*/
.entry{display: inline-block;
    vertical-align:top;
    padding:5px;
    margin-top:15px;
    margin-bottom:15px;}
/*Collapsible reference: https://www.w3schools.com/howto/howto_js_collapsible.asp*/
.collapsible{background-color: rgb(184, 184, 184);
    color:#444;
    cursor:pointer;
    padding:18px;
    width: 100%;
    border: solid black;
    text-align: left;
    outline:none;
    font-size:15px;
    margin-bottom:10px;
    font-weight:bold; 
    display:flex; 
    align-items:center;}

.active, 
.collapsible:hover{background-color:rgb(201, 226, 255);}

.collcontent{padding: 0 10px;
    display: none;
    overflow: hidden;
    background-color:rgb(216, 216, 216);
    border:solid black;
    margin-bottom:10px;}

.icon{height:32px;
    width:32px;}

.d2header4{display: flex;
    align-items:center;}

